:root {
  --comun: #BF6A4B;
  --blanco: #F2F2F2;
  --acento0:#97dba8;
  --acento: #63BF7A;
  --acento2:#53a367;
  --fondo: #BF8A49;
  --redondeo:10px;
}
body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
  }
  a[href],
  input[type="submit"],
  input[type="image"],
  label[for],
  select,
  button,
  .pointer {
    cursor: pointer;
  }
