.footer{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    background-color: var(--comun);
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;

}
.footer img{
    margin-left: 32px;
    margin-right: 32px;
}