:root {
    --comun: #BF6A4B;
    --blanco: #F2F2F2;
    --acento: #63BF7A;
    --acento2:#53a367;
    --fondo: #BF8A49;
}

@media (max-width: 640px) {
    .navbar {
        display: none;
    }
    .contacto {
        display: none;
    }
    .home{
        top: 60px;
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
        background-image: none;
        background-color: var(--fondo);
        justify-content:flex-end;
    }
    .home img{
        width: 400px;
        height: 550px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .container{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0px;
    }
    .frase div:nth-child(1){
        text-align: center;
        font-size: 35px;
    }
    .frase{
        width: 500px;
    }
    .frase div:nth-child(1){
        padding-bottom: 0px;
    }
    .frase div:nth-child(2){
        margin-top: 8px;
        font-size: 20px;
        height: 60px;
        width: 150px;
        
    }
    .menu-icon{
        display: flex;
    }

}