@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('@fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('@fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
}

.medicamentos{
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
}
.medicamentos .container{
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
#cabecera{
    display:flex;
    flex-direction: row;
    font-size: 20px;
}
#cabecera div{
    width: 176px;
}
#mes{
    padding-bottom: 20px;
}
#semana{
    display:flex;
    flex-direction: row;
}

.lasix .cuarto1{
    background: #D9FFDA;
    border: solid 1px;
}
.lasix .cuarto2{
    display:none;
}
.lasix .cuarto3{
    display:none;
}
.lasix .cuarto4{
    display:none;
}

.cardial .cuarto1{
    background: #EB597A;
}
.cardial .cuarto2{
    background:#EB597A;
}
.cardial .cuarto3{
    display:none;
}
.cardial .cuarto4{
    display:none;
}

.aspirineta .cuarto1{
    background: #EA95DC;
}
.aspirineta .cuarto2{
    background:#EA95DC;
}
.aspirineta .cuarto3{
    background:#EA95DC;
}
.aspirineta .cuarto4{
    display:none;
}
.dia img{
    width: 20px;
    height: 20px;
    filter:drop-shadow(1px 1px 1px #888)
}
.dia{
    vertical-align: top;
    border:solid 1px; 
    border-radius: 5px;
    width: 170px;
    margin: 1px;
}
.dia ul{
    list-style: none;
    font-size: 15px;
    padding-left: 0px;
}

.dia p{
    margin-top:10px;
    margin-bottom:0px;
    text-align: center;
    font-size: 48px;
}
.dia li{
    display: flex;
    margin-left: 0px;
    flex-direction: row;
}
.hoy {
    background-color:var(--acento0);
}


@media (max-width: 640px) {
    #mes, #semana{
        display:flex;
        flex-direction: column;
    }
    #cabecera{
        display:none;
    }
    .dia{
        display:flex;
        flex-direction: row;
        border:solid 1px; 
        border-radius: 5px;
        width: 100%;
        margin: 1px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .dia ul{
        list-style: none;
        font-size: 10px;
        display: flex;
        flex-direction: horizontal;
    }
    .dia li{
        display: flex;
        margin-left: 20px;
        flex-direction: column;
    }   

}