
.pastilla {
    display:grid;
    grid-template-columns: auto auto;
    margin-left: 20px;
}

.pastilla .cuarto1{
    width: 10px;
    height: 10px;
    border-radius: var(--redondeo) 0 0 0;
    -moz-border-radius: var(--redondeo) 0 0 0;
    -webkit-border-radius: var(--redondeo) 0 0 0;
}

.pastilla .cuarto2{
    width: 10px;
    height: 10px;
    border-radius: 0 var(--redondeo) 0 0;
    -moz-border-radius: 0 var(--redondeo) 0 0;
    -webkit-border-radius: 0 var(--redondeo) 0 0;
}

.pastilla .cuarto3{
    width: 10px;
    height: 10px;
    border-radius: 0 0 0 var(--redondeo);
    -moz-border-radius: 0 0 0 var(--redondeo);
    -webkit-border-radius: 0 0 0 var(--redondeo);
}

.pastilla .cuarto4{
    width: 10px;
    height: 10px;
    border-radius: 0 0 var(--redondeo) 0;
    -moz-border-radius: 0 0 var(--redondeo) 0;
    -webkit-border-radius: 0 0 var(--redondeo) 0;
}